*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.5), rgba(4,9,30,0.5)), url(images/nott4.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

/* -------   preloader  --------- */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
  }
  
  #preloader.hide-preloader {
    animation: hidePreloader 1s;
  }
  
  #preloader.preloader-hidden {
    display: none;
  }
  
  #preloader img {
    width: 60px;
    height: 60px;
  }
  
  @keyframes hidePreloader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }
/* -------   preloader end  --------- */


.global {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.global img {
    width: 200px;
    height: auto;
}
.nav {
    flex: 1;
    text-align: right;
    z-index: 5;
}

.nav li:hover ul {
    display: block;
}
.nav ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 7px;
    position: relative;
    letter-spacing: 0.5;
}

.nav ul a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 1px 8px;
    border: 0px solid #f44336;
    border-radius: 8px;
    letter-spacing: 0.5px;
    background: transparent;
    font-weight: 500;
    cursor: pointer;
    display: block;
    text-shadow: 0.2px 0.2px rgb(244, 239, 205);
    transition: 0.7s;
}


/*
.nav ul {
    position: absolute; 
    right: 0;
    top: 0;
    display: none; 
}
*/


.ddi:after {
    content: "\f107";
    padding-left: 5px;
}  
.ddi {
    font-family: fontawesome !important;
}


/*
.nav-links ul li .ddi {
    display: inline-block;
    padding: 2px 8px;
}
*/
/*      
.nav-links ul li::after {
    content: '';
    height: 2px;
    width: 0%;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}
.nav-links ul li:hover::after {
    width: 100%;
}
*/
.nav ul li a:hover {
    border: px solid #f44336;
    background: #d73226;
    transition: 0.5s;
}

.nav ul li ul {
    position: absolute;
    top: 30px;
    left: -10px;
    width: 170px;
    text-align: left;
    display: none;
}

.nav ul li ul li {
    width: 100%;
    color: #fff;
    background-color: rgb(128, 128, 128, 0.1);
    /*background-color: rgba(255, 121, 121, 0.1);*/
    /*border: 1px solid rgb(0, 0, 0, 0.1);*/
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}

.nav ul li:hover > ul {
    display: initial;
}
/*
.nav ul li > label {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
    width: 0;
    height: 0;
    margin-left: 8px;
    transform: rotate(0deg);
    transition: all 0.3s ease 0s;
    display: inline-block;
}*/
/*
.nav__item > label {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
    width: 0;
    height: 0;
    margin-left: 8px;
    transform: rotate(0deg);
    transition: all 0.3s ease 0s;
}

.nav__item {
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}
*/
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    font-weight: 600;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;

}
.hero-btn:hover {
    border: px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.nav .fa, .global .fa {
    display: none;
}



.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    width: 75%;
    margin: auto;
    font-size: 43px;
    text-shadow: 0.5px 0.5px rgb(244, 239, 205);
}
.text-box p {
    margin: 20px 0 60px;
    font-size: 15px;
    color: #fff;
    line-height: 1.8;
    text-shadow: 0.3px 0.3px rgb(244, 239, 205);

}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    font-weight: 600;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}

@media(max-width: 700px) {
    .text-box h1{
        font-size: 25px;
        width: 70%;
        margin-top: 40px;
    }
    .text-box p{
        margin-top: 60px;
    }
    .nav ul li{
        display: block;
    }
    .nav {
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

            .nav ul li ul li {
                display: none;
            }

    .nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
         }

         .global .fa{
            display: block;
            color: #fff;
            margin: 10px;
            font-size: 22px;
            cursor: pointer;
             }
    .nav .fa fa-times {
        margin: 20px;
    }

    .nav ul {
        padding: 10px;
    }
    .logo {
        padding-top: 12px;
    }
}

/* after the header*/

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-size: 36px;
    font-weight: 600;
}
p {
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.course-col-1 ul, .course-col-2 ul, .course-col-3 ul {
    margin-bottom: 11px;
}
.course-col-1 ul li, .course-col-2 ul li, .course-col-3 ul li {
    list-style: none;
}
.course-col-1 li, .course-col-2 li, .course-col-3 li {
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.2px;
}
    
.course-col-1 ul li:before, .course-col-2 ul li:before, .course-col-3 ul li:before {
    content: ''; /* для отображения контента в данном солучаи - background: url(./imeg/jVfPr0P4gm0.jpg); */
    display: inline-block; /* тоже необходим для отображения нашего изображения */
    width: 15px;
    height: 15px;
    background: url(images/rc_icon.png); /* путь к нашему изображению */
    background-size: contain; /* для отображения изображения в указанных нами размерами width: 150px; height: 150px; */
    margin-right: 4px;
    position: relative;
    bottom: -2px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    
}
.course-col-1 {
    flex-basis: 23%;
    background: #ffeded;
    border-radius: 10px;
    margin: 5%;
    margin-bottom: 5%;
    margin-top: 0;
    padding-top: 0;
    padding: 10px 0px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col-2 {
    flex-basis: 23%;
    background: #ffeded;
    border-radius: 10px;
    margin: 5%;
    margin-bottom: 5%;
    margin-top: 0;
    padding-top: 0;
    padding: 10px 0px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col-3 {
    flex-basis: 23%;
    background: #ffeded;
    border-radius: 10px;
    margin: 5%;
    margin-bottom: 5%;
    margin-top: 0;
    padding-top: 0;
    padding: 10px 0px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col-1 h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    background-color: rgba(234, 154, 75, 0.75);
    padding: 10px 0px 10px 0px;
}
.course-col-2 h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    background-color: rgb(192, 192, 192, 0.8);
    padding: 10px 0px 10px 0px;
}
.course-col-3 h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    background-color: rgb(255, 223, 0, 0.8);
    padding: 10px 0px 10px 0px;
}


.course-col-1:hover {
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);
    transform: scale(1.03);
}
.course-col-2:hover {
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);
    transform: scale(1.03);

}
.course-col-3:hover {
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);
    transform: scale(1.03);

}

@media(max-width: 700px) {
    .row{
        flex-direction: column;
        margin-bottom: 55px;
    }
}

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col {
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
    margin: auto;
    height: 202px;
    max-width: 340px;
    border-radius: 10px;
}
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    border-radius: 10px;
}
.layer:hover {
    background: rgba(255, 255, 255, 0.1);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    background-color: transparent;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    letter-spacing: 1.2px;
    transition: 0.7s;
    text-shadow: 0.5px 0.5px #212529;
    
}
.layer:hover h3 {
    bottom: 32%;
    opacity: 1;
    background-color: rgb(217, 71, 61);
    border-radius: 10px;
}

.layer p{
    width: 100%;
    font-weight: 500;
    color: #fff;
    background-color: transparent;
    font-size: 15px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.9s;
    opacity: 0;
    text-shadow: 0.7px 0.7px #212529;
}
.layer:hover p {
    bottom: 10%;
    opacity: 1;
}


/*---  Facilities  ---*/
.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities p{
    width: 82%;
    margin: auto;
    text-align: center;
    
}
.facilities-col {
    flex-basis: 25%;
    margin-bottom: 5%;
    text-align: center;
}
.facilities-col img {
    width: 100%;
    border-radius: 20px 32px 57px 32px;
    
}
.facilities-col p {
    padding: 0;
    
}
.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}

/*------------  MENTORS  (Start)  ------------*/

.mentors {
    margin: 40px auto 80px;
    padding-top: 15px;
    width: 90%;
    background-color: rgb(206, 229, 245, 0.2);
    border-radius: 13px;
}

.mentors h1, 
.mentors p {
    text-align: center;
}
.title-p {
    padding-bottom: 60px;
}

.card{
    cursor: pointer;
    width: 230px;
    height: 285px;
    position: relative;

}
/*
.front:hover,
.back:hover {
    box-shadow: 0 0 20px 6px rgba(143, 198, 250, 0.6);
}*/

.front,
.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
    position: absolute;
    
    border-radius: 15px;
}

.front img{
    height: 100%;
    width: 100%;
}

.front{
    transform: perspective(1000px) rotateY(0deg);
}

.back{
    transform: perspective(1000px) rotateY(180deg);
    /*background-color: rgba(94, 160, 246, 0.55);*/
    /*background-color: rgba(0, 0, 0, 0.8);*/
    background-color: rgb(221, 221, 221, 0.5);
}

.back-content{
    width: 95%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -57%);
    position: absolute;
    color: #a6a6a6;
    text-shadow: 0.25px 0.25px rgba(255, 255, 255, 1);
}

.back-content i {
    margin-top: 20px;
}

.back-content h3{
    font-size: 19px;
}

.back-content span{
    font-size: 17px;
    font-weight: 600;
    margin: 5px 5px 30px;
    color: #a6a6a6;
    text-shadow: 0.25px 0.25px rgba(255, 255, 255, 1);
}



.full h3,
.full p {
    text-align: center;
}

.full h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}
.full p {
    margin-top: 0px;
    font-size: 15px;
    font-weight: 500;
}

.card:hover > .front{
    transform: perspective(1000px) rotateY(-180deg);
}
.card:hover > .back{
    transform: perspective(1000px) rotateY(0deg);
}

.block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-gap: 30px 20px;
    padding-left: 20px;
    padding-right: 20px;
}



@media(max-width:736px) {
    .mentors h1 {
        font-size: 23px;
        margin-top: 20px;
    }
}

/*------------  MENTORS  (End)  ------------*/

/*-----   Swiper  ------*/

.slides {
    text-align: center;
    margin: 65px auto 50px;
}


button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    font-size: 12px;
}
/*
.card {
    padding: 30px;
    background-color: rgb(115, 212, 17);
    min-height: 280px;
    color: #111;
    font-size: 16px;
}
*/

.swiper-slide img {
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
}

.swiper-container {
    overflow: hidden;
    text-align: center;
}

.slider-container {
    width: 75%;
    position: relative;
    margin: 50px auto;
}
/*
.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px; 
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px 26px; 
}
*/
.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 35px;
    position: absolute;
} 

.swiper-button-prev {
    /*background-image: url(sl_left_gr.png);*/
    cursor: pointer;
    left: -5%;
    color: rgb(200, 195, 195);
    
}

.swiper-button-next {
    /*background-image: url(sl_right_gr.png);*/
    cursor: pointer;
    right: -5%;
    color: rgb(200, 195, 195);

}

@media(max-width: 700px) {
    .slides h1 {
        font-size: 22px;
        text-align: center;
    }

    .slider-container {
        margin: 25px auto;
    }
    .slides {
        margin-bottom: 45px;
    }

}

@media(max-width: 1040px) {
    .swiper-button-next {
        right: -7%;    
    }
    .swiper-button-prev {
        left: -7%
    }
}
@media(max-width: 700px) {
    .swiper-button-next {
        right: -8%;    
    }
    .swiper-button-prev {
        left: -8%
    }
}
@media(max-width: 600px) {
    .swiper-button-next {
        right: -9%;    
    }
    .swiper-button-prev {
        left: -9%
    }
}
@media(max-width: 500px) {
    .swiper-button-next {
        right: -10%;    
    }
    .swiper-button-prev {
        left: -10%
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 28px;
    }
}
@media(max-width: 435px) {
    .swiper-button-next {
        right: -11.5%;    
    }
    .swiper-button-prev {
        left: -11.5%;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 25px;
    }
}

/*---  Testimonials  ---*/
.testimonials {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
.test-main{
    margin-bottom: 10px;
    width: 78%;
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
}
.row-tst {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 35px;
    margin-top: 15px;
}
.testimonials-col-1, .testimonials-col-2 {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px 25px 25px 25px;
    display: flex;
    align-items: top;
}

.testimonials-col-1:hover, .testimonials-col-2:hover {
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);
}

.testimonials-col-1 img, .testimonials-col-2 img {
    height: 40px;
    margin-left: -3px;
    margin-right: 20px;
    border-radius: 50%;
    margin-top: 10px;
}
.testimonials-col-1 p, .testimonials-col-2 p {
    padding: 0;
    text-align: left;
    margin-left: 0;
}
.testimonials-col-1 h3, .testimonials-col-2 h3 {
    margin-top: 15px;
    text-align: left;
}
.testimonials-col-1 .fa, .testimonials-col-2 .fa {
    color: gold;
}
@media(max-width: 700px) {
    .testimonials {
        padding-top: 60px;
    }
    .testimonials p {
        width: 95%;
        padding-bottom: 18px;
    }
    .testimonials h1 {
        font-size: 22px;
    }
    .testimonials-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
    .row-tst {
        grid-auto-flow: row;
        display: block;
    }
    .course-col-1, .course-col-2 {
        margin-bottom: 20px;
    }
    .testimonials-col-1 p, .testimonials-col-2 p {
        text-align: left;
        margin-left: 1px;
        width: 100%;
    }
    .testimonials-col-1 p, .testimonials-col-2 p {
        float: right;
    }
    .testimonials-col-1 h3, .testimonials-col-2 h3 {
        font-size: 16px;
    }
    .facilities {
        padding-top: 30px;
    }
}


/*---  Call To Action  ---*/
.cta {
    margin: 85px auto 285px auto;
    width: 73%;
    background-image: linear-gradient(rgba(75, 70, 95, 0.7), rgba(70, 69, 69, 0.7)), url(images/banner2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    text-align: center;
    padding: 42px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 30px;
    padding: 0;
}
@media(max-width: 700px) {
    .cta h1{
        font-size: 20px;
        line-height: 2;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .about-col p{
        text-align: left;
    }
    .about-col h1{
        text-align: center;
    }
    .about-col img{
        text-align: center;
    }
    .partners p{
        padding: 10px 20px 0 20px;
    }
    .partners h1, .course h1{
        font-size: 23px;
    }
    .course h1, .campus h1, .facilities h1{
        font-size: 23px;
    }
    .brands-1 ul , .brands-2 ul  {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .cta {
        padding: 60px 0 60px 0;
        width: 80%;
        margin: 50px auto 190px auto;
    }
    .exp-1 div, .exp-2 div {
        grid-column: 1 / -1;
        text-align: center;
    }
    .exp-1 div {
        padding-bottom: 10px;
    }
   
}
    

/*-----  partners  ---------*/  
.partners {
    margin: 130px auto 0px auto;
    padding: 25px 0 0 0;
    text-align: center;
    background-color: rgb(206, 229, 245, 0.2);

}   

.brands-1 ul {
    list-style: none;
    display: flex;
    /*  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */  
    align-items: center;
    justify-content: center;
    padding-top: 35px;
} 

.brands-1 ul li img {
    object-fit: contain;
}   

.hvl img, .knr img, .eic img, .chu img {
    width: 130px;
    height: 70px;
    padding: 0 20px 0 10px;
}
.hku img {
    width: 165px;
    height: 70px;
    padding: 0 20px 0 30px;
}
.dlt img {
    width: 118px;
    height: 50px;
    padding: 0 20px 0 30px;
}

.brands-2 ul {
    list-style: none;
    display: flex;
    /*grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));*/
    grid-gap: 1rem; 
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 10px;
}

.brands-2 ul li img {
    object-fit: contain;
} 

.hnd img {
    width: 118px;
    height: 48px;
    padding: 0 20px 0 40px;
}
.fxx img {
    width: 112px;
    height: 73px;
    padding: 0 55px 0 10px;
}
.hkpu img {
    width: 150px;
    height: 95px;
    padding: 0 0px 0 -70px;
}
.unsp img {
    width: 140px;
    height: 67px;
    padding: 0 -80px 0 0;
}  
.hkpu2 img {
    width: 150px;
    height: 95px;
    padding: 0 0px 0 60px;
}
.fxx2 img {
    width: 112px;
    height: 73px;
    padding: 0 0px 0 30px;
}
.exp-1 {
    padding-top: 35px;
    display: grid;
    grid-template-columns: repeat(minmax(120px, 1fr));  
    align-items: center;
    justify-content: center;
    grid-auto-flow: column;
    grid-gap: 3px;
    background-color: rgb(206, 229, 245, 0.2);


} 
.exp-2 {
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(minmax(120px, 1fr));  
    align-items: center;
    justify-content: center;
    grid-auto-flow: column;
    grid-gap: 4px;
    background-color: rgb(206, 229, 245, 0.20);
    margin-bottom: 155px;
} 
.exp-1 img, .exp-2 img {
    object-fit: contain;
}

/*------  Footer  -------*/
.footer {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-top: 50px;
    background-image: linear-gradient(rgb(255, 255, 255, 0.99), rgba(218, 221, 231, 0.95), rgba(123, 130, 160, 0.7)), url(images/foot2.jpg);
    background-position: 50% 40%;
    background-size: cover;
    position: relative;
    border-top: 1px solid white;
    
}

.footer h4 {
    margin-bottom: 30px;
    padding-top: 55px;
    font-weight: 600;
}
.icons .fa{
    color:#f44336;
    margin: 0;
    cursor: pointer;
    padding: 15px 10px;
    transition: 0.3s;
}
.icons .fa:hover {
    transform: scale(1.5);
    text-shadow: 0.2px 0.2px rgb(255, 255, 255);
    filter: brightness(1.1);
    transition: 0.3s;
}

.fa-heart-o {
    color: #f44336;
}
.add-list {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px 20px;
    
}

.add-1, .add-2, .add-3, .icons {
    background-color: transparent;
    padding: 60px 5px 27px 5px;
    
}
.add-1 h6,.add-2 h6,.add-3 h6 {
    font-size: 12px;
    margin: 0px;
    padding: 0;
    color: #6f6868;
    font-weight: 500;
    
}
.copy {
    color: #6f6868;
    font-size: 12px;
}
.AGS h4{
    height: 20px;
    font-size: 12px;
    margin: 0px;
    padding: 0;
    color: #666060;
    
    text-shadow: 0.3px 0.3px rgb(117, 80, 87);
    font-weight: 600;
}
.AGS {
    grid-column: 1/-1;
    align-items: center;
    text-align: center;
    letter-spacing: 1.25px;
    margin-bottom: 3px;
}
/*-----------  About us page ------------*/

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/conf.jpg);
    background-position: 50% 45%;
    background-size: cover;
    text-align: center;
    color: #fff;
    margin: 0;
}
/*
.ddi:after {
    content: "\f107";
    padding-left: 5px;
}  
.ddi {
    font-family: fontawesome !important;
}
*/
.sub-header h1 {
    margin: 0;
    position: absolute;
    top: 26%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: 0.5px;
}
.bq-cont {
    width: 64%;
    margin: 110px auto 0px auto;
    background-color: rgb(246, 245, 245);
    border-radius: 20px;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);

}
.bq {
    display: flex;
    flex-flow: column;
    text-align: left;
    
    color: #6f6868;
    font-style: italic;
    overflow: hidden;
    padding: 5px 50px 5px 63px;
}
.bq p {
    font-size: 22px;
    text-align: left;
    line-height: 1.4;
    padding-bottom: 5px;
    font-family: 'Macondo', cursive;
    font-weight: 500;

}
.bq cite {
    font-size: 17px;
    padding-right: 40px;
    font-weight: 600;
    text-align: right;
    padding-top: 0;
    font-family: 'Macondo', cursive;
}


blockquote p::before,
blockquote p::after {
   content: "“";
   font-family: Georgia;
   font-size: 40px;
   margin: -12px 0px 15px -22px;
   position: absolute;
   opacity: 0.5;
   color: #222;
}

blockquote p::after {
   content: "”";
   margin: -8px -19px 5px 5px;
   color: #222;
}



.we-text {
    flex-basis: 35%;
}
.we-cont {
    width: 78%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px 75px;
    padding: 130px 0 130px 0;
    
}

.we-text h1.part1 {
    padding: 0px 0 20px 15px;
    font-size: 34px;
    
}
.we-text h1.part2 {
    padding: 0px 0 20px 15px;
    font-size: 30px;
    
}
.we-text p {
    padding: 20px;
}
.we-pic img {
    width: 420px;
    height: auto;
    display: block;   
    margin: auto; 
    padding-bottom: 25px;
}
/*
.we-text a {
    margin: 35px 20px 20px 20px;
} */
.exp-now-upd {
    padding-left: 20px;
    padding-top: -15px;
}
.exp-now {
    display: inline-block;
    text-decoration: none;
    color:#f44336;
    border: 1px solid #f44336;
    padding: 12px 34px;
    font-size: 13px;
    font-weight: 600;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.exp-now:hover {
    border: px solid #f44336;
    background: #f44336;
    transition: 1s;
    color: #fff;
}

.about-us {
    width: 80%;
    margin: auto;
    
}
.about-col {
    flex-basis: 44%;
    padding: 0px 2px;

    padding-top: 90px;
    padding-bottom: 140px;
    
} /*
.about-col img {
    width: 420px;
    height: auto;
    padding: 0 0 25px 50px;
    text-align: center;
} */

.about-col h1 {
    padding-top: 0;
    font-size: 36px;
    font-weight: 600;
}
.about-col p {
    padding: 25px 10px 40px 10px;
}
.red-btn {
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover {
    color: #fff;
}

/*--------  Blog page content  ----------*/

.AI-blog {
    width: 65%;
    margin: 50px auto 0;
    display: flex;
    
}
a.readmore-btn {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
}

/*
#more {display: none;}*/
.AI-blog a {
    color: rgb(255, 255, 255);
    border: 0px solid ;
    padding: 3px 9px;
    border-radius: 8px;
    background-color: rgba(173, 209, 245, 0.99);
    
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    text-shadow: 1px 1px #999;
} 
.ccc{
    display: flex;
    float: right;  
}

.AI-blog h6 {
    font-size: 12px;
    font-weight: 400;
    padding-left: 10px;
    color:#999;
}
.AI-blog p {
    font-size: 15px;
    color: #999;
}
.AI-blog h1 {
    padding-left: 10px;
}
.AI-blog h3 {
    padding-left: 10px;
}
.imgblog1 {
    width: 60%;
    height: auto;
    padding-left: 10px;
    padding-bottom: 18px;
    padding-top: 13px;
    padding-right: 20px;
}
.com.showContent {
    height: auto;
}
.com {
    height: 560px;
    overflow: hidden;
}
/*
.AI-row.showContent a.readmore-btn {
    background-color: #d73226;
}

/*--****-------   ---****------*/

.accord {
    margin-top: 90px;
    margin-bottom: 210px;
}
.accordion {
    display: flex;
    flex-direction: column;
    max-width: 850px; 
    width: 65%;
    margin: auto;
}

:root {
    --color-plus-grey: #a1a3a5;
    --color-border-grey: #dee2e6;
    --color-text-dark: #212529;
    --color-background-white: #fff;
    --color-border-active-blue: #54d2eb;
}
.accordion__title h3 {
    font-size: 17px;
    font-weight: 600;
}
.accordion__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid var(--color-border-grey);
    border-top: none; 
    color: var(--color-text-dark);
    background-color: var(--color-background-white);
}
.accordion__title__top {
    border-bottom: 1px solid var(--color-border-grey);
}
.accordion__title.active {
    box-shadow: 0 0 8px 1px var(--color-border-active-blue);
}  

.accordion__title span{
    display: inline-flex;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    transform: rotate(0);
    transition: transform 0.5s ease-out;
}
.accordion__title.active span {
    transform: rotate(45deg);
}
.accordion__title span::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-plus-grey);
}
.accordion__title span::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-plus-grey);
}
.accordion__content {
    font-size: 15px;
    color: #999;
    line-height: 1.4;
    overflow: hidden;
    padding: 0 20px;
    box-sizing: content-box;
    border: 1px solid var(--color-border-grey);
    border-top: none;  
    max-height: 0;
    opacity: 0;
    visibility: hidden;  
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
    
}

.accordion__content.active {
    visibility: visible;
    opacity: 1;
    padding: 20px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
    
}


/*--------------------------*/
.blog-content {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left {
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-left p{
    color: #999;
    padding: 0;
}
.blog-right {
    flex-basis: 32%;
    translate: 0 -1px;
}
.blog-right h3 {
    background: #f44336;
    color: #fff;
    padding: 7px 0 7px 7px;
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}
.comment-box {
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment-form button{
    margin: 10px 0;
    
}

@media(max-width:700px){
    .sub-header h1{
        font-size: 24px;
        width: 85%;
    }
    .sub-header-blog h1{
        font-size: 24px;
        width: 85%;
    }
    .sub-header-cp h1, .sub-header-au h1{
        font-size: 24px;
        width: 85%;
    }
    .add-list, .we-cont {
        grid-auto-flow: row;
        display: block;
        margin: auto;
    }
    .we-cont {
        padding-top: 25px;
        padding-bottom: 95px;
        text-align: left;
        width: 94%;
    }
    div.exp-now-upd {
        text-align: center;
        padding: 0;
        margin-top: 15px;
    }
    div.we-cont h1.part1 {
        font-size: 24px;
        padding-left: 15px;
    }
    div.we-cont h1.part2 {
        font-size: 20px;
        padding-left: 15px;
    }
    .we-text h1 {
        font-size: 24px;
    }
    .bq-cont  {
        width: 93%;
        margin: 30px auto 25px;
        padding: 0px;
    }
    blockquote.bq  {
        padding: 0 10px;
    }

    blockquote.bq p {
        font-size: 14px;
        padding: 12px 15px 7px 15px;
    }

    blockquote.bq cite {
        font-size: 12px;
        padding: 0 10px 10px;
    }
    span.title-1, span.title-2 {
        left: 25%
    }
    span.title-3 {
        left: 26%
    }
}


    .we-text p {
        padding: 10px 10px 25px 15px;
    }
    .we-text h1 {
        font-size: 34px;   
    }
        
    div .title-1, div .title-2, div .title-3 {
        text-align: center;
        margin-left: 0px;
        margin: auto;
    }
    .title-1 hr, .title-2 hr, .title-3 hr {
        visibility: collapse;
    }
    .title-1 h4, .title-2 h4, .title-3 h4 {
        text-decoration: underline;
    }
    .we-pic img {
        width: 96%;
        height: auto;
    }
    

/*------------- Contact Us --------------*/
.sub-header-cp {
    height: 55vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.65),rgba(4,9,30,0.65)), url(images/Lion_CP.jpg);
    background-position: 50% 30%;
    background-size: cover;
    text-align: center;
    color: #fff;
    margin: 0;
    background-attachment: fixed;
}
.sub-header-cp h1 {
    margin: 0;
    position: absolute;
    top: 26%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: 0.5px;
}
.title-1 {
    margin: 0;
    position: relative;
    transform: translate(-32%, 0%);
    letter-spacing: 0.5px;
}
.title-2 {
    margin: 0;
    position: relative;
    transform: translate(-39%, 0%);
    letter-spacing: 0.5px;
}
.title-3 {
    margin: 0;
    position: relative;
    transform: translate(-43%, 0%);
    letter-spacing: 0.5px;
}
.location {
    width: 80%;
    margin: auto;
    padding: 80px 0 30px 0;
}
.location iframe {
    width: 100%;
}
.contact-us {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    
}
.contact-col{
    flex-basis: 40%;
    margin-bottom: 70px;
}
.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.contact-col div .fa {
    font-size: 26px;
    color: #f44336;
    margin: 10px;
    margin-right: 25px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 17px;
    margin-bottom: 0px;
    color: #555;
    font-weight: 500;
}
.title-1 hr {
    width: 120%;
}
.title-2 hr {
    width: 135%;
}
.title-3 hr {
    width: 143%;
}

.contact-col input, .contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.title-1, .title-2, .title-3 {
    margin-left: 60px;
}
.title-1 h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1px;
}
.title-2 h4, .title-3 h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1px;
    padding-top: 30px;
}

.sub-header-au {
    height: 58vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/warr.jpg);
    background-position: 50% 45%;
    background-size: cover;
    text-align: center;
    color: #fff;
    margin: 0;
    background-attachment: fixed;
}
.sub-header-au h1 {
    margin: 0;
    position: absolute;
    top: 26%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: 0.5px;
}
.sub-header-blog {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.65),rgba(4,9,30,0.65)), url(images/books.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    color: #fff;
    margin: 0;
    background-attachment: fixed;
}
.sub-header-blog h1 {
    margin: 0;
    position: absolute;
    top: 26%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: 0.5px;
}

/* ------  back to top button (start) ------ */
.upward {
    position: fixed;
    right: 10px;
    bottom: 150px;
    width: 48px;
    height: 48px;
    background: url(images/arrow77.png);
    background-size: cover;
    cursor: pointer;
    border: 2px solid rgb(217, 215, 215);
    border-radius: 50%;
    visibility: hidden;    
    transition: 0.0s;
    z-index: 3;
}   
.upward.active {
    visibility: visible;
    bottom: 150px;
}

/* ------  back to top button (end) ------ */


/*
.upward:hover {
    position: fixed;
    right: 10px;
    bottom: 150px;
    width: 48px;
    height: 48px;
    background: url(images/arrow88.png);
    background-size: cover;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);

    border-radius: 50%;
    transition: 1s;
}  */

/* ------ custom made btt ------- */

/*
.back-to-top {
    position: fixed;
    right: 10px;
    bottom: 200px;
    width: 50px;
    height: 50px;
    border-color: transparent;
    border-radius: 50%;
    background-color: #629460;
}
.back-to-top:hover, .back-to-top focus {
    filter: brightness(2);
    outline: none;
}

.back-to-top::before,
.back-to-top::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
} 

.back-to-top::before {
    width: 5px;
    height: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f5f0f6;
} 
.back-to-top::after {
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 5px solid #f5f0f6;
    border-left: 5px solid #f5f0f6;
}  */